$color1: #433755;
$color2: rgba(0, 0, 0, 0.5019607843);
$color3: #f5ffff;
$color4: rgba(76, 76, 76, 0.7490196078);
$color5: #9e547f;
$color6: #ddd5c8;
$color7: #000000;
$color8: rgba(239, 46, 52, 0);
