.header {
  background-color: $color2;
  padding: 10px 0;
  height: 50px;
}

.title_header {
  color: $color3;
  transform: skewX(350deg);
  font-size: 30px;
  text-align: end;
  text-transform: uppercase;
}
