@media (max-width: 375px) {
  .button {
    font-size: 10px;
    padding: 10px;
  }

  .post-form__input-name {
    font-size: 10px;
  }

  .post-form__input-message {
    font-size: 10px;
  }

  .post__item {
    font-size: 10px;
  }

  .user__item {
    font-size: 10px;
  }

  .title_header {
    font-size: 20px;
  }

  .user {
    width: 100px;
  }
}
